.showHistory{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-left: -1rem;
}

.showHistory ul{
    /* border-left: 1px solid; */
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}